/* --------- VAR COLOR ----------- */
/* ---------- VAR SIZE ----------- */
/* ------------ FONT -------------- */
/* ----------- GLOBAL ------------- */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #969696;
}

/* ---------- Header NAV ---------- */
#nav {
  background: #505050;
  -webkit-box-shadow: #505050;
          box-shadow: #505050;
  height: 70px;
}

#nav .nav__list {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .nav__list .nav__list--item {
  margin: 0 8px;
}

#nav .nav__list .nav__list--item:nth-child(1) {
  color: #f1f1f1;
  text-shadow: #f1f1f1 1px 0 2px;
  font-size: 40px;
  margin-right: auto;
}

#nav .nav__list .nav__list--item:nth-child(2) a, #nav .nav__list .nav__list--item:nth-child(3) a {
  font-size: 30px;
  color: #f1f1f1;
}

#nav .nav__list .nav__list--item:nth-child(2) a:hover, #nav .nav__list .nav__list--item:nth-child(3) a:hover {
  color: #AB060F;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#nav .nav__list .nav__list--item:nth-child(3) a {
  margin-right: 30px;
}

/* ------- Header movie box ------- */
#best_movie {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#best_movie .container {
  width: 950px;
  height: 300px;
  border-radius: 20px;
  margin: auto;
  border: 7px solid #28282B;
}

#best_movie .container .movie_picture {
  -webkit-box-shadow: #505050;
          box-shadow: #505050;
  width: 14.5%;
  border-radius: 0 13px 13px 0;
  position: absolute;
  margin-left: 54.9%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#best_movie .container .movie_title {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #28282B;
  letter-spacing: 2px;
  text-shadow: #f1f1f1 8px 0 10px;
  padding-top: 20px;
  padding-left: 30px;
}

#best_movie .container .play, #best_movie .container .info {
  color: #f1f1f1;
  font-size: 26px;
  letter-spacing: 2px;
  padding: 15px 50px;
  border-radius: 50px;
  display: flexbox;
  margin-top: 70px;
  margin-left: 30px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#best_movie .container .play:hover, #best_movie .container .info:hover {
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  border: none;
}

#best_movie .container .play {
  background: #AB060F;
}

#best_movie .container .play:hover {
  -webkit-box-shadow: 1px 1px 1px 1px #AB060F;
          box-shadow: 1px 1px 1px 1px #AB060F;
}

#best_movie .container .info {
  background: #28282B;
}

#best_movie .container .info:hover {
  -webkit-box-shadow: 1px 1px 1px 1px #28282B;
          box-shadow: 1px 1px 1px 1px #28282B;
}

/* ------- Category titles -------- */
.categorie_title {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  color: #28282B, 3px solid;
  font-size: 40px;
  color: #28282B;
  text-shadow: #f1f1f1 7px 0 10px;
  letter-spacing: 3px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 20px;
  border-style: dotted;
}

/* ------ Carousel management ------*/
.carousel {
  width: 100%;
  height: 400px;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel--item {
  border-radius: 15px;
  border: 4px solid #28282B;
  margin: 20px;
}

.carousel--item:hover {
  border: 4px solid #AB060F;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.slide-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-indicator {
  height: 44px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  cursor: pointer;
}

.slide-indicator:after {
  content: "";
  background-color: #505050;
  height: 10px;
  margin-top: 10px;
  width: 40px;
}

.slide-indicator.active:after {
  background-color: #28282B;
}

.slide-indicator:hover:after {
  background-color: #AB060F;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.slide-banner {
  color: #f1f1f1;
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 15px;
  font-size: 2.5vw;
}

.slide-banner a {
  color: #f1f1f1;
}

.slide-container {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.slide {
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
}

.slide img {
  width: auto;
  position: relative;
}

/* -- Arrows direction management -- */
.preview, .next {
  color: #28282B, 3px solid;
  font-size: 40px;
  color: #28282B;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  position: absolute;
}

.preview:hover, .next:hover {
  color: #AB060F;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.preview {
  left: 40%;
}

.preview:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.next {
  right: 40%;
}

.next:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

/* ------------ FOOTER ------------ */
footer {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  border-top: 2px solid #28282B;
  text-align: center;
  width: 100%;
  margin-top: 70px;
  padding: 10px 0 10px 0;
}

footer #imgCopy {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 1300px) {
  footer footer {
    padding-left: 0px;
  }
}

/* ---------- MODAL WINDOW -------- */
.modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: visibility 0.4s;
  transition: visibility 0.4s;
}

.modal-container.active {
  visibility: visible;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
  -webkit-transition: opacity 0.4s 0.2s ease-out;
  transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.modal {
  opacity: 0;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: 30px;
  background: #f1f1f1;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, calc(-50% - 50px));
          transform: translate(-50%, calc(-50% - 50px));
  -webkit-transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, -webkit-transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  transition: opacity 0.4s ease-out, transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.modal-container.active .modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.4s 0.2s ease-out, -webkit-transform 0.4s 0.2s ease-out;
  transition: opacity 0.4s 0.2s ease-out, -webkit-transform 0.4s 0.2s ease-out;
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out, -webkit-transform 0.4s 0.2s ease-out;
}

.close-modal {
  color: #f1f1f1;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #AB060F;
}

.modal h1 {
  font-family: "Kaushan Script", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-weight: 500;
}

.modal h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

#carousel {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.slide-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-indicator {
  height: 44px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  cursor: pointer;
}

.slide-indicator:after {
  content: "";
  background-color: #505050;
  height: 10px;
  margin-top: 10px;
  width: 40px;
}

.slide-indicator.active:after {
  background-color: #28282B;
}

.slide-indicator:hover:after {
  background-color: #AB060F;
}

.slide-banner {
  background-color: #28282B;
  color: #f1f1f1;
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 15px;
  font-size: 2.5vw;
}

.slide-banner a {
  color: #ffffff;
}

#slide-container {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 10px;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.slide {
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
}

.slide img {
  width: auto;
  position: relative;
}

.arrow {
  color: #ffffff;
  height: 20px;
  width: 20px;
  background-color: #000000;
  position: absolute;
  padding: 10px;
  opacity: .3;
  cursor: pointer;
}

.arrow.back {
  left: 10px;
  top: 10px;
}

.arrow.forward {
  right: 10px;
  top: 10px;
}

.arrow:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */