*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --color1: #505050;  /* Gris foncé rgb(80, 80, 80) */
    --color2: #f1f1f1;  /* Gris très clair rgb(241, 241, 241) */
    --color3: #28282B;  /* Gris très foncé rgb(40, 40, 43) */
   }
html {
    scroll-behavior: smooth;
}
/* ------------- NAV -------------- */
.liste-nav {
    height: 100%;
    height: 70px;
    background: var(--color1);
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-nav {
    font-size: 25px;
    margin: 0 10px;
    color: var(--color2);
}
.item-nav:nth-child(1) {
    margin-right: auto;
    font-size: 40px;
}
.item-nav:nth-child(3) {
    margin-right: 50px;
}
    

/* ------------ Header ------------ */



/* ------------- Body ------------- */

/* Titre des categories */
.categorie_title {
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
    color: var(--color1)
}

/* Gestion des boxs */
.container {
    width: 90%;
    height: 180px;
    background: var(--color3);
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.container_list {
    display: flex;
    flex-direction: row-reverse;
}

/* Organisation des items */
.item {
    height: 140px;
    width: 270px;
    flex-shrink: 0;
}
.item:nth-child(1) {
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(2) {
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(3) {
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:nth-child(4) {
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------ Footer ------------ */
footer {
    width: 100%;
    text-align: center;
    font-family: 'Kaushan Script';
    color: var(--color1);
    padding-top: 100px;
}
@media screen and (max-width: 1300px) {
    footer {
        padding-left: 0px;
    }
}
#imgCopy {
	width: 15px;
	height: 15px;
}