/* --------- VAR COLOR ----------- */
/* ---------- VAR SIZE ----------- */
/* -------- MIXIN ALONE ---------- */
/* ------------ MIXINS ------------ */
/* Navigation bar */
/* Title movie for header box */
/* Play button in movie box header */
/* Title of the categories aboce the boxes */
/* Boxes for categories movies*/
/* Directional arrows */
/* ----------- GLOBAL ------------- */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #969696;
}

/* ------------- Body ------------- */
/* ---------- Header NAV ---------- */
#nav {
  background: #505050;
  -webkit-box-shadow: 0px 3px 3px 3px #505050;
          box-shadow: 0px 3px 3px 3px #505050;
  height: 70px;
}

#nav .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav .nav__list .nav__list--item {
  margin: 0 8px;
}

#nav .nav__list .nav__list--item:nth-child(1) {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #f1f1f1;
  font-size: 40px;
  margin-right: auto;
}

#nav .nav__list .nav__list--item:nth-child(2) a {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #f1f1f1;
}

#nav .nav__list .nav__list--item:nth-child(2) a:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #AB060F;
}

#nav .nav__list .nav__list--item:nth-child(3) a {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #f1f1f1;
  margin-right: 30px;
}

#nav .nav__list .nav__list--item:nth-child(3) a:hover {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  color: #AB060F;
}

/* ------- Header movie box ------- */
#best_movie {
  width: 92%;
  height: 300px;
  -webkit-box-shadow: 0px 3px 3px 3px #505050;
          box-shadow: 0px 3px 3px 3px #505050;
  border-radius: 20px;
  margin: auto;
  margin-top: 3%;
  border: 7px solid #28282B;
}

#best_movie .best_movie--title {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  color: #28282B;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: #505050 8px 0 10px;
  padding-top: 20px;
  padding-left: 30px;
  display: inline;
}

#best_movie .best_movie--picture {
  width: 20%;
  height: 286px;
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 13px;
}

#best_movie .best_movie--play {
  color: #f1f1f1;
  background: #AB060F;
  font-size: 26px;
  color: #28282B, 3px solid;
  letter-spacing: 2px;
  cursor: pointer;
  display: flexbox;
  padding: 15px 50px;
  border-radius: 50px;
  margin: 10px 0 0 50px;
}

#best_movie .best_movie--play:hover {
  font-size: 26px;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 2px 2px #AB060F;
          box-shadow: 2px 2px 2px 2px #AB060F;
}

/* ------- Category titles -------- */
.categorie--title {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #28282B;
  color: #28282B, 3px solid;
  text-shadow: #505050 8px 0 10px;
  letter-spacing: 3px;
  padding-top: 70px;
  text-align: center;
  padding-bottom: 20px;
}

/* -------- Box management -------- */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .container_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  /* Box direction */
  /* Movies box */
}

.container .container_list .container_list--item {
  height: 140px;
  width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container .container_list .container_list__direction--left {
  font-size: 40px;
  color: #28282B;
  color: #28282B, 3px solid;
  background: none;
  display: flexbox;
  border: none;
  margin: 0 15px;
}

.container .container_list .container_list__direction--left:hover {
  color: #AB060F;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.container .container_list .container_list__direction--right {
  font-size: 40px;
  color: #28282B;
  color: #28282B, 3px solid;
  background: none;
  display: flexbox;
  border: none;
  margin: 0 15px;
}

.container .container_list .container_list__direction--right:hover {
  color: #AB060F;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.container .container_list .container_list--item:nth-child(2) {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  color: #28282B;
  -webkit-box-shadow: 0px 3px 3px 3px #505050;
          box-shadow: 0px 3px 3px 3px #505050;
  border-radius: 15px;
  border: 3px solid #28282B;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcff0), to(rgba(207, 207, 240, 0))), url(../src/index/fight-club.jpg);
  background-image: linear-gradient(to right, #cfcff0, rgba(207, 207, 240, 0)), url(../src/index/fight-club.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container_list .container_list--item:nth-child(2):hover {
  border: 3px solid #AB060F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .container_list .container_list--item:nth-child(3) {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  color: #28282B;
  -webkit-box-shadow: 0px 3px 3px 3px #505050;
          box-shadow: 0px 3px 3px 3px #505050;
  border-radius: 15px;
  border: 3px solid #28282B;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcff0), to(rgba(207, 207, 240, 0))), url(../src/index/fight-club.jpg);
  background-image: linear-gradient(to right, #cfcff0, rgba(207, 207, 240, 0)), url(../src/index/fight-club.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container_list .container_list--item:nth-child(3):hover {
  border: 3px solid #AB060F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .container_list .container_list--item:nth-child(4) {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  color: #28282B;
  -webkit-box-shadow: 0px 3px 3px 3px #505050;
          box-shadow: 0px 3px 3px 3px #505050;
  border-radius: 15px;
  border: 3px solid #28282B;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcff0), to(rgba(207, 207, 240, 0))), url(../src/index/fight-club.jpg);
  background-image: linear-gradient(to right, #cfcff0, rgba(207, 207, 240, 0)), url(../src/index/fight-club.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container_list .container_list--item:nth-child(4):hover {
  border: 3px solid #AB060F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container .container_list .container_list--item:nth-child(5) {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  color: #28282B;
  -webkit-box-shadow: 0px 3px 3px 3px #505050;
          box-shadow: 0px 3px 3px 3px #505050;
  border-radius: 15px;
  border: 3px solid #28282B;
  background-image: -webkit-gradient(linear, left top, right top, from(#cfcff0), to(rgba(207, 207, 240, 0))), url(../src/index/fight-club.jpg);
  background-image: linear-gradient(to right, #cfcff0, rgba(207, 207, 240, 0)), url(../src/index/fight-club.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container_list .container_list--item:nth-child(5):hover {
  border: 3px solid #AB060F;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* ------------ Footer ------------ */
footer {
  font-family: 'Kaushan Script', Arial, Helvetica, sans-serif;
  border-top: 2px solid #28282B;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  padding: 10px 0 10px 0;
}

footer #imgCopy {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 1300px) {
  footer footer {
    padding-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */