/* --------- VAR COLOR ----------- */
$nav_font_color: #f1f1f1;
$background_nav_bar: #505050;
$background_color_files: #969696;
$border_boxes: #28282B;
$play_button: #AB060F;
$overlay: #333333d3;

/* ---------- VAR SIZE ----------- */
$play_font_size: 26px;
$nav_font_size: 30px;
$title_font_size: 40px;

$principal_box_font_size: 50px;
$big_border: 5px;
$small_border: 3px;

/* ------------ FONT -------------- */
$font_family: 'Kaushan Script', Arial, Helvetica, sans-serif;

/* ----------- GLOBAL ------------- */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $background_color_files;
}

/* ---------- Header NAV ---------- */
#nav{
    background: $background_nav_bar;
    box-shadow: $background_nav_bar;
    height: 70px;
        .nav__list {
            font-family: $font_family;
            display: flex;
            list-style-type: none;
            align-items: center;

        .nav__list--item {
            margin:0 8px;
        }

        .nav__list--item:nth-child(1) {
            color: $nav_font_color;
            text-shadow: $nav_font_color 1px 0 2px;
            font-size: 40px;
            margin-right: auto;
        }

        .nav__list--item:nth-child(2) a {
            font-size: $nav_font_size;
            color: $nav_font_color;
                &:hover {
                    transition: 0.3s ease-out;
                    color: $play_button;
            }
        }

        .nav__list--item:nth-child(3) a {
            font-size: $nav_font_size;
            color: $nav_font_color;
            margin-right: 30px;
                &:hover{
                    transition: 0.3s ease-out;
                    color: $play_button;
            }
        }
    }
}


/* ------- Header movie box ------- */
#best_movie {
    width: 92%;
    height: 300px;
    box-shadow: $background_nav_bar;
    border-radius: 20px;
    margin: auto;
    margin-top: 3%;
    border: 7px solid $border_boxes;
        
    .best_movie--title {
        font-family: $font_family;
        color: $border_boxes;
        font-size: $principal_box_font_size;
        letter-spacing: 2px;
        text-shadow: $background_nav_bar 8px 0 10px;
        padding-top: 20px;
        padding-left: 30px;
        float: left;
    }

    .best_movie--picture {
        box-shadow: $background_nav_bar;
        display: flex;
        width: 15%;
        height:286px;
        display: inline-block;
        border-radius: 0 13px 13px 0;
        position: absolute;
        margin-left: 754px;
        }

    .best_movie--play {
        color: $border_boxes, $small_border solid;
        color: $nav_font_color;
        background: $play_button;
        font-size: $play_font_size;
        letter-spacing: 2px;
        padding: 15px 50px;
        border-radius: 50px;
        margin: 70px 0 0 50px;
        transition: 0.3s ease-out;
        display: flexbox;
        min-width: 150px;
        &:hover {
                cursor: pointer;
                transition: 0.3s ease-out;;
                border: none;
                box-shadow: 1px 1px 1px 1px $play_button;
            }
        }

    .best_movie--info {
        color: $border_boxes, $small_border solid;
        color: $nav_font_color;
        background: $border_boxes;
        font-size: $play_font_size;
        letter-spacing: 2px;
        padding: 15px 50px;
        border-radius: 50px;
        margin: 70px 0 0 50px;
        transition: 0.3s ease-out;;
        cursor: pointer;
        display: flexbox;
        min-width: 150px;
            &:hover {
                transition: 0.3s ease-out;;
                border: none;
                box-shadow: 1px 1px 1px 1px $border_boxes;
            }
        }
}

/* ------- Category titles -------- */
.categorie--title {
    font-family: $font_family;
    color: $border_boxes, $small_border solid;
    font-size: $title_font_size;
    color: $border_boxes;
    text-shadow: $nav_font_color 7px 0 10px;
    letter-spacing: 3px;
    margin-top: 80px;
    text-align: center;
    margin-bottom:20px;
    border-style: dotted;
}

/* -------- Box management -------- */

.container {
    justify-content: center;
    display: flex;
    .carousel {
        position: relative;
        display: block;
        width: 100%;
        box-sizing: border-box;
        .carousel__panorama--item {
            border-radius: 15px;
            margin: 0 10px 0 10px;
            border: 3px solid $border_boxes;
            float: left;
            &:hover {
                border: 3px solid $play_button;
                box-shadow: none;
                cursor: pointer;
            }
        }
    }
}

.carousel__preview, .carousel__next {
    color: $border_boxes, $small_border solid;
    font-size: $title_font_size;
    color: $border_boxes;
    background: none;
    display: flex;
    border: none;
    &:hover {
        color: $play_button;
        transition: 0.3s ease-out;
        cursor: pointer;
    }
}
.carousel__preview {
    position: absolute;
    left: 40%;
    &:hover {
        transform: translateX(-5px);
    }
}
.carousel__next {
    position: absolute;
    right: 40%;
    &:hover{
        transform: translateX(5px);
    }
}

/* ------------ FOOTER ------------ */
footer {
    font-family: $font_family;
    border-top: 2px solid $border_boxes;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    padding: 10px 0 10px 0;

    #imgCopy {
        width: 15px;
        height: 15px;
    }

    @media screen and (max-width: 1300px) {
        footer {
            padding-left: 0px;
        }
    }
}

/* ---------- MODAL WINDOW -------- */
.modal-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    width:100vw;
    height: 100vh;
    transition: visibility 0.4s;
  }
  .modal-container.active {
    visibility: visible;
  }
  .overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $overlay;
    transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .modal {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: $nav_font_color;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
  }
  .modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
  }
  .close-modal {
    color: $nav_font_color;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: $play_button;
  }
  .modal h1 {
    font-family: $font_family;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .modal h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }