/* --------- VAR COLOR ----------- */
$nav_font_color: #f1f1f1;
$background_nav_bar: #505050;
$background_color_files: #969696;
$border_boxes: #28282B;
$play_button: #AB060F;
$overlay: #333333d3;

/* ---------- VAR SIZE ----------- */
$play_font_size: 26px;
$nav_font_size: 30px;
$title_font_size: 40px;

$principal_box_font_size: 50px;
$big_border: 5px;
$small_border: 3px;

/* -------- MIXIN ALONE ---------- */
@mixin font_family{font-family: 'Kaushan Script', Arial, Helvetica, sans-serif};
@mixin font_size($size) {font-size: $size;}
@mixin font_color($color) {color: $color;}
@mixin text_shadow($color) {text-shadow: $color 8px 0 10px;}
@mixin letter_spacing($spacing) {letter-spacing: $spacing;}
@mixin text_align($align) {text-align: $align;}
@mixin font_weight($weight) {font-weight: $weight;}

@mixin height($height) {height: $height;}
@mixin width($width) {width: $width;}

@mixin padding($padding) {padding: $padding;}
@mixin padding_top($padding_top) {padding-top: $padding_top;}
@mixin padding_left($padding_left) {padding-left: $padding_left;}
@mixin padding_bottom($padding_bottom) {padding-bottom: $padding_bottom;}
@mixin padding_right($padding_right) {padding-right: $padding_right;}

@mixin margin($margin) {margin: $margin;}
@mixin margin_top($margin_top) {margin-top: $margin_top;}
@mixin margin_left($margin_left) {margin-left: $margin_left;}
@mixin margin_bottom($margin_bottom) {margin-bottom: $margin_bottom;}
@mixin margin_right($margin_right) {margin-right: $margin_right;}

@mixin border_box($color, $size) {color: $color, $size solid;}
@mixin play_box($color) {color: $color;}
@mixin box_shadow($color) {box-shadow: 0px 3px 3px 3px $color;}
@mixin background($color) {background: $color;}
@mixin border_radius($radius) {border-radius: $radius;}

@mixin transition_transform {transition: 0.3s ease-out;}
@mixin tranform_translate_left {transform: translateX(-5px);}
@mixin tranform_translate_right {transform: translateX(5px);}

/* ------------ MIXINS ------------ */
/* Navigation bar */
@mixin nav_list {
    @include font_family;
    @include font_size($nav_font_size);
    @include font_color($nav_font_color);
}
@mixin nav_list--hover {
    @include transition_transform();
    @include play_box($play_button);
}
@mixin nav_list-and-hover {
    @include nav_list;
    &:hover{
        @include nav_list--hover;
    }
}

/* Title movie for header box */
@mixin best_movie--title {
    @include font_family;
    @include font_color($border_boxes);
    @include font_size($principal_box_font_size);
    @include letter_spacing(2px);
    @include text_shadow($background_nav_bar);
    @include padding_top(20px);
    @include padding_left(30px);
    float: left;
}

/* Play button in movie box header */
@mixin best_movie--play {
    @include font_color($nav_font_color);
    @include background($play_button);
    @include font_size($play_font_size);
    @include border_box($border_boxes, $small_border);
    @include letter_spacing(2px);
    cursor: pointer;
    display: flexbox;
    min-width: 150px;
    @include padding(15px 50px);
    @include border_radius(50px);
    @include margin(70px 0 0 50px);
    @include transition_transform();
}
@mixin best_movie__play--hover {
    @include transition_transform();
    border: none;
    box-shadow: 1px 1px 1px 1px $play_button;
}
@mixin button_and_hover {
    @include best_movie--play;
    &:hover{
        @include best_movie__play--hover;
    }
}

/* Title of the categories aboce the boxes */
@mixin categorie_title {
    @include font_family;
    @include font_size($title_font_size);
    @include font_color($border_boxes);
    @include border_box($border_boxes, $small_border);
    @include text_shadow($background_nav_bar);
    @include letter_spacing(3px);
    @include padding_top(70px);
    @include text_align(center);
    @include padding_bottom(20px);
}

/* Boxes for categories movies*/
@mixin categories_boxes {
    @include font_family;
    @include font_color($border_boxes);
    @include box_shadow($background_nav_bar);
    @include border_radius(15px);
    border: 3px solid $border_boxes;
    justify-content: flex-start;
    align-items: center;
}
@mixin categories_boxes_hover {
    border: 3px solid $play_button;
    box-shadow: none
}
@mixin categories__boxes_and_hover {
    @include categories_boxes;
    &:hover {
        @include categories_boxes_hover;
    }
}

/* Directional arrows */
@mixin direction_arrows {
    @include font_size($title_font_size);
    @include font_color($border_boxes);
    @include border_box($border_boxes, $small_border);
    @include background(none);
    display: flexbox;
    border: none;
    @include margin(0 15px);
}
@mixin container--hover_prev_arrows {
    @include font_color($play_button);
    @include tranform_translate_left;
    @include transition_transform;
}
@mixin container--prev_arrows {
    @include direction_arrows;
    &:hover{
        @include container--hover_prev_arrows;
    }
}
@mixin container--hover_next_arrows {
    @include font_color($play_button);
    @include tranform_translate_right;
    @include transition_transform;
}
@mixin container--next_arrows {
    @include direction_arrows;
    &:hover{
        @include container--hover_next_arrows;
    }
}

@mixin footer {
    @include font_family;
    border-top: 2px solid $border_boxes;
    @include text_align(center);
    @include width(100%);
    @include margin-top(40px);
    @include padding(10px 0 10px 0);
    #imgCopy {
        @include width(15px);
        @include height(15px);
    }
    @media screen and (max-width: 1300px) {
        footer {
            @include padding_left(0px);
        }
    }
}

//////////////////////////////////////
//////////////////////////////////////

/* ----------- GLOBAL ------------- */
*, ::before, ::after {
    box-sizing: border-box;
    @include margin(0);
    @include padding(0);
}
body {
    @include background($background_color_files);
}

/* ------------- Body ------------- */
/* ---------- Header NAV ---------- */
#nav{
    @include background($background_nav_bar);
    @include box_shadow($background_nav_bar);
    @include height(70px);
        .nav__list {
        display: flex;
        list-style-type: none;
        align-items: center;
        .nav__list--item {
            @include margin(0 8px);
        }
        .nav__list--item:nth-child(1) {
            @include nav_list;
            @include font_size(40px);
            @include margin_right(auto);
        }
        .nav__list--item:nth-child(2) a {
            @include nav_list-and-hover;
            }
        .nav__list--item:nth-child(3) a {
            @include nav_list-and-hover;
            @include margin_right(30px);
        }
    }
}

/* ------- Header movie box ------- */
#best_movie {
    @include width(92%);
    @include height(300px);
    @include box_shadow($background_nav_bar);
    @include border_radius(20px);
    @include margin(auto);
    @include margin-top(3%);
    border: 7px solid $border_boxes;
        .best_movie--title {
            @include best_movie--title;
    }
        .best_movie--picture{
            @include width(20%);
            @include height(286px);
            display: inline-block;
            justify-content: flex-end;
            @include border_radius(0 13px 13px 0);
            position: absolute;
            margin-left: 754px;
   }
        .best_movie--play {
            @include button_and_hover;
    }
        .best_movie--info {
            @include button_and_hover;
            @include background($border_boxes);
    }

}

/* ------- Category titles -------- */
.categorie--title {
   @include categorie_title
}

/* -------- Box management -------- */
.container {
    display: flex;
    justify-content: center;
    .container--prev_arrows {
        @include container--prev_arrows;
        }
    .container_list {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @include width(75%);
    .container_list img {
        @include categories__boxes_and_hover;}
    }
    .container--next_arrows {
        @include container--next_arrows;
    }
}

/* ------------ Footer ------------ */
footer {
    @include footer;
}

/* --------- Modal windows -------- */
.modal-container {
    visibility: hidden;
    position: fixed;
    top: 0;
    @include width(100vw);
    @include height(100vh);
    transition: visibility 0.4s;
  }
  .modal-container.active {
    visibility: visible;
  }
  .overlay {
    opacity: 0;
    position: absolute;
    @include width(100%);
    @include height(100%);
    @include background($overlay);
    transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .modal {
    opacity: 0;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    @include background($nav_font_color);
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
  }
  .modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
  }
  .close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    @include font-weight(18px);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    @include background($play_button);
    @include font_color($nav_font_color);
  }
  .modal h1 {
    @include margin_bottom(10px);
    @include font_family();
    @include font-weight(500);
  }
  .modal h4 {
    @include margin_bottom(10px);
    @include font_size(20px);
  }
